@font-face{
	src: url("../_fonts/bubblegum-sans-regular.otf"); 
	font-family: 'FonteLogo';
}

/*@import url('https://fonts.googleapis.com/css?family=Titillium+Web');*/

//*@charset "UTF-8"*/

body {
	background-color: #dddddd;
	color: rgba(0,0,0,1);
	}
	
	div#interface{
		width:900px;
		height: 600px;
		background-color: #ffffff;
		margin: -20px auto 0px auto;
		box-shadow: 0px 0px 10px rgba(0,0,0,.5);
		padding: 10px;
	}
	
		p{
			text-align: justify;
			text-indent: 50px;
		}
	
	
	header#cabecalho h1{
		font-family: 'FonteLogo', sans-serif;
		font-size: 30pt;
		color: #606060;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
		padding: 0px;
		margin-bottom: 0px;
	}
	
		header#cabecalho h2{
		font-family: 'Titillium Web';
		font-size: 15pt;
		color: #888888;
		padding: 0px;
		margin-top: 0px;
	}
	
	header#cabecalho h3{
		position: absolute;
		font-family: 'Titillium Web';
		font-size: 15pt;
		color: #888888;
		padding: 0px;
		margin-top: -40px;
		left: 1000px;
	}
	
	#menu-principal {
	position: absolute;
	right: 280px;
	top: 140px;
    border-radius: 25px;
    border: 2px solid #000000;
    width: 750px;
    height: 400px; 
}
	
	#menu-principal  h2{
		font-family: 'Titillium Web';
		font-size: 25pt;
		color: #888888;
		padding: 0px;
		margin-top: 10px;
		text-align: center;
	}
	
	
		#menu-equip {
	position: absolute;
	right: 280px;
	top: 140px;
    border-radius: 25px;
    border: 2px solid #000000;
    width: 750px;
    height: 400px; 
}
	
	#menu-equip  h2{
		font-family: 'Titillium Web';
		font-size: 25pt;
		color: #888888;
		padding: 0px;
		margin-top: 10px;
		text-align: center;
	}
	
ul#album-fotos{
	width: 800px;
	margin: 0px 0px;
	padding: 10px;
	overflow: hidden;
	list-style: none;
}

ul#album-fotos li{
	float: left;
	width: 130px;
	height: 130px;
	margin: 22px;
	border: 1px solid grey;
	
	text-shadow: 0px 0px 0px #000000;
	vertical-align:bottom;
	text-align: center;
	
	background-color: #ffffff;
	box-shadow: 1px, 1px, 3px rgba(0,0,0,.4);
	-webkit-transition: all .4s  ease-in;
}


ul#album-fotos li:hover{
	-webkit-transform: scale(1.5);
}


ul#album-fotos li#foto01{
	background: url('icons/equipamentos.png') no-repeat;
	background-position: bottom;
	margin-bottom: 20px;
	background-size: 100px 100px;
	background-color: #ffffff;
}


ul#album-fotos li#foto02{
	background: url('icons/consumo.png') no-repeat;
	background-position: bottom;
	background-size: 80px 100px;
	background-color: #ffffff;
}


ul#album-fotos li#foto03{
	background: url('icons/adc-tomada.png') no-repeat;
	background-position: bottom;
	background-size: 120px 120px;
	background-color: #ffffff;
}

	
ul#album-fotos li#foto04{
	background: url('icons/config.png') no-repeat;
	background-position: bottom;
	background-size: 100px 100px;
	background-color: #ffffff;
}


ul#equip-fotos{
	position: absolute;
	top: 50px;
	width: 750px;
	margin: 0px 0px 0px 0px;
	padding: 10px;
	/* overflow: hidden; */
	list-style: none;
}

ul#equip-fotos li{
	float: left;
	width: 120px;
	height: 120px;
	margin: 20px;
	border: 1px solid grey;
	
	text-shadow: 0px 0px 0px #000000;
	vertical-align:bottom;
	text-align: center;
	
	background-color: #ffffff;
	box-shadow: 1px, 1px, 3px rgba(0,0,0,.4);
	-webkit-transition: all .4s  ease-in;
}


ul#equip-fotos li:hover{
	-webkit-transform: scale(1.5);
}


ul#equip-fotos li#foto11{
	background: url('icons2/Banheiro.png') no-repeat;
	background-position: bottom;
	margin-bottom: 20px;
	background-size: 100px 100px;
	background-color: #ffffff;
}


ul#equip-fotos li#foto12{
	background: url('icons2/Copa.png') no-repeat;
	background-position: bottom;
	background-size: 80px 100px;
	background-color: #ffffff;
}


ul#equip-fotos li#foto13{
	background: url('icons2/Cozinha.png') no-repeat;
	background-position: bottom;
	background-size: 120px 120px;
	background-color: #ffffff;
}

	
ul#equip-fotos li#foto14{
	background: url('icons2/Quarto 1.png') no-repeat;
	background-position: bottom;
	background-size: 100px 100px;
	background-color: #ffffff;
}

ul#equip-fotos li#foto15{
	background: url('icons2/Quarto 2.png') no-repeat;
	background-position: bottom;
	background-size: 100px 100px;
	background-color: #ffffff;
}

ul#equip-fotos li#foto16{
	background: url('icons2/Sala.png') no-repeat;
	background-position: bottom;
	background-size: 100px 100px;
	background-color: #ffffff;
}

ul#equip-fotos li#foto17{
	background: url('icons/Varanda.png') no-repeat;
	background-position: bottom;
	background-size: 100px 100px;
	background-color: #ffffff;
}

#botao_voltar{
    position: absolute;
    right: 600px;
    top: 560px;
	width: 100px;
    height: 25px;
		
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	
	background-color:#26A8FF;
	
	color:#ffffff;
	font-family:arial;
	font-size:18px;
	font-weight:bold;
	padding:1px 4px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
       
        text-align: center;
}

.botao:active {
	position:relative;
	top:1px;
}


footer#rodape {
	clear: both;
	
}

footer#rodape p {
	text-align: center;
	
}
