body {  
   background-color: #dddddd; 
   color: rgba(0,0,0,1); 
   } 
  
   div#interface{ 
     width:1000px; 
     height: 600px; 
     background-color: #ffffff; 
     margin: -20px auto 0px auto; 
     box-shadow: 0px 0px 10px rgba(0,0,0,.5); 
     padding: 10px; 
   } 
   
      #tela_lamp { 
   position: absolute; 
  right:680px; 
   top: 50px; 
     border-radius: 25px; 
     border: 2px solid #000000; 
     width: 200px; 
     height: 300px; 
   text-align: center; 
   } 
  
  
   #grafico { 
   position: absolute; 
   right:170px; 
   top: 50px; 
     border-radius: 25px; 
     border: 2px solid #000000; 
     width: 500px; 
     height: 300px; 
   text-align: center; 
   } 
  
   #consumo { 
   position: absolute; 
   right:20px; 
   top: 50px; 
     border-radius: 25px; 
     border: 2px solid #000000; 
     width: 150px; 
     height: 300px; 
   text-align: center; 
   } 

   
     p{ 
      text-align: justify; 
      text-indent: 20px;
        text-size: 15px;
     } 
  
  
   header#cabecalho h1{ 
     font-family: 'FonteLogo', sans-serif; 
     font-size: 30pt; 
     color: #606060; 
     text-shadow: 1px 1px 1px rgba(0,0,0,0.6); 
     padding: 0px; 
     margin-bottom: 0px; 
   } 
  
     header#cabecalho h2{ 
     font-family: 'Titillium Web'; 
     font-size: 15pt; 
     color: #888888; 
     padding: 0px; 
     margin-top: 0px; 
   } 
  
   header#cabecalho h3{ 
     position: absolute; 
     font-family: 'Titillium Web'; 
     font-size: 15pt; 
     color: #888888; 
     padding: 0px; 
     margin-top: -40px; 
     left: 1000px; 
   } 
  
   #menu-principal { 
   position: absolute; 
   right: 280px; 
   top: 140px; 
     border-radius: 25px; 
     border: 2px solid #000000; 
     width: 750px; 
     height: 400px;  
 } 
  
   #menu-principal  h2{ 
     font-family: 'Titillium Web'; 
     font-size: 25pt; 
     color: #888888; 
     padding: 0px; 
     margin-top: 10px; 
     text-align: center; 
   } 
  
  
     #menu-equip { 
   position: absolute; 
   right: 220px; 
   top: 140px; 
     border-radius: 25px; 
     border: 2px solid #000000; 
     width: 900px; 
     height: 400px;  
 } 
  
   #menu-equip  h2{ 
     font-family: 'Titillium Web'; 
     font-size: 25pt; 
     color: #888888; 
     padding: 0px; 
     margin-top: 10px; 
     text-align: center; 
   } 
  
    
 #botao{ 
   position: center-left; 
   width: 70px; 
     height: 35px; 
    
   border-radius:6px; 
   border:1px solid #000000; 
   display:inline-block; 
  
   background-color:#26A8FF; 
  
   color:#ffffff; 
   font-family:arial; 
   font-size:18px; 
   font-weight:bold; 
   padding:1px 4px; 
   text-decoration:none; 
   text-shadow:0px 0px 0px #ffffff; 
       
         text-align: center; 
 } 

 .botao:active { 
   position:relative; 
   top:1px; 
 } 


 #botao2{ 
   position: center-left; 
   width: 70px; 
     height: 35px; 
    
   border-radius:6px; 
   border:1px solid #000000; 
   display:inline-block; 
  
   background-color:#26A8FF; 
  
   color:#ffffff; 
   font-family:arial; 
   font-size:18px; 
   font-weight:bold; 
   padding:1px 4px; 
   text-decoration:none; 
   text-shadow:0px 0px 0px #ffffff; 
       
         text-align: center; 
 } 

 .botao2:active { 
   position:relative; 
   top:1px; 
 } 

 #botao_voltar{ 
     position: absolute; 
     right: 800px; 
     top: 560px; 
   width: 100px; 
     height: 25px; 
    
   border-radius:6px; 
   border:1px solid #000000; 
   display:inline-block; 
  
   background-color:#26A8FF; 
  
   color:#ffffff; 
   font-family:arial; 
   font-size:18px; 
   font-weight:bold; 
   padding:1px 4px; 
   text-decoration:none; 
   text-shadow:0px 0px 0px #ffffff; 
       
         text-align: center; 
 } 

 #botao_MENU{ 
     position: absolute; 
     right: 300px; 
     top: 560px; 
   width: 200px; 
     height: 25px; 
    
   border-radius:6px; 
   border:1px solid #000000; 
   display:inline-block; 
  
   background-color:#26A8FF; 
  
   color:#ffffff; 
   font-family:arial; 
   font-size:18px; 
   font-weight:bold; 
   padding:1px 4px; 
   text-decoration:none; 
   text-shadow:0px 0px 0px #ffffff; 
       
         text-align: center; 
 } 

 footer#rodape { 
   clear: both; 
  
 } 

 footer#rodape p { 
   text-align: center; 
  
 }

div.rele1_ligado {
    position: relative;
    right: -10px;
    top: 5px;
    width: 110px;
    height: 110px;
    border: none;
		margin:auto;
    background: url(lampada_ligada.png) no-repeat left top;
}

div.rele1_desligado {
    position: relative;
    right: -10px;
    top: 5px;
    width: 110px;
    height: 110px;
    border: none;
	background: url(lampada_desligada.png) no-repeat left top;
}

        #wgt { 
   position: relative; 
  right:-40px; 
   top: 0px; 
     
     width: 110px; 
     height: 110px; 
   
   } 
 
